{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'authors/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'authors/css/my_stile.css' %}" rel="stylesheet">
    <link href="{% static 'authors/icons/bootstrap-icons.css' %}" rel="stylesheet">
    <script src="{% static 'authors/js/bootstrap.min.js' %}"></script>
    <title>{% block title %}Default title{% endblock title%}</title>
</head>

<body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/b_show/">Список книг</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/a_show/">Список авторов</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/b_create/">Добавить книгу</a>                
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/a_create/">Добавить автора</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/">Админка</a>
              </li>
        
              </ul>
              
            
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0">
    <div class="container">
      {% block body %}
      no content
      {% endblock %}
    </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
      <span class="text-muted">{% block footer%}{% endblock %}</span>
      </div>
    </footer>       
  </body>
</html>